# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env

# Python
*.pyc
__pycache__/
.env
.venv/
env/
venv/
ENV/
pip-log.txt
pip-freeze.txt
.python-version

# Django
*.log
*.pot
local_settings.py
db.sqlite3
media/

# IDE/Editor specific files
.idea/  # For PyCharm/IntelliJ
.vscode/ # For VS Code
